/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.gwt-Button {
	width: 300px;
	font-size: 20px;
    font-color: red;
    background: blue;
}

.gwt-TextBox {
	width: 300px;
	height: 50px;
	font-color: red;
}

#loginPanel {
	align: center;
	padding-top: 50px;
}
.gwt-new {
}
.personal_panel {
	background-color: Green;
}
